/* Custome class ou id css */

.caracterefont {
    color: white;
}

/* Modification css de boostrap ou de base */
.accordion {
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-border-color: none;
}

.custom-section {
    max-width: 100%;
}

/* Rendre les sous-catégories plus nettes */
.accordion .accordion .accordion-button {
    font-size: 0.9rem;
    padding: 6px 12px;
}

/* Lien des sous-éléments */
.accordion .accordion .accordion-body a {
    font-size: 0.85rem;
    padding: 4px 14px;
}

/* Icônes toujours alignées */
.accordion-button {
    display: flex;
    align-items: center;
    gap: 6px; /* espace entre icône et texte */
}

.sidebar .nav-link.active {
    color: orangered;
}

.containerahover a:hover,
.containerahover button:hover {
    background: rgb(148, 148, 148, 0.3);
    color: orangered;
    border-radius: 10px;
}

.nav-link.active,
.accordion-body a.active {
    color: orangered;
    font-weight: bold; /* optionnel */
}
