#now-playing {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.85rem;
    /* texte un peu plus petit */
}

#now-playing h2 {
    margin: 0;
    font-weight: normal;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#playImage {
    width: 50px !important;
    height: 50px !important;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

#playImage:hover {
    box-shadow: 0 0 15px rgba(0, 128, 255, 0.5);
}

#togglePlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px !important;
    height: 20px !important;
    font-size: 14px !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
