p {
    margin-top: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
}

body {
    background-color: #101015;
}

.nav-ul-a {
    color: white;
}

.nav-li-textsp:hover {
    background: rgb(148, 148, 148, 0.3);
    color: white;
}

.navbar {
    background-color: #0e0e0e45;
    transition: background-color 0.3s;
    /* Transition pour un changement en douceur */
}

.navbar-header {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.3s;
    /* Transition pour un changement en douceur */
}

.fixed-top {
    transition: background-color 0.3s;
    /* Transition pour le changement de couleur */
}

/* Classe pour la navbar avec une couleur de fond opaque */
.navbar-scrolled {
    background-color: #101015;
    /* Changez la couleur comme vous le souhaitez */
}

@-webkit-keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes tilt {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Appliquer l'animation seulement au survol */
.shakeme:hover .svg-icon {
    animation-name: tilt;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

.svg-icon {
    display: inline-block;
}

.dropdown-toggle::after {
    display: none !important;
    /* Masque la flèche par défaut de Bootstrap */
}

.dropdown-menu {
    opacity: 0;
    transition: opacity 2s ease;
    /* Transition de 2 secondes pour l'apparition */
}

.dropdown-menu.show {
    opacity: 1;
    /* Lors de l'affichage, l'opacité passe à 1 */
}

/* Footer */
.footer-a {
    color: white;
}

.card-darkmode {
    background-color: #14141b;
}

.card-darkmode-p {
    color: white;
}

.tag-darkmode {
    color: white;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
}
